h1 {
	text-align: center;
	color: white;
	background: LightSeaGreen;
	padding: 5px;
}

h2 {
	margin: 0px 0px 10px 0px;
	box-shadow: 2px 2px 2px grey;
	color: white;
	background: LightSeaGreen;
	padding: 5px;
}

body {
	background: linear-gradient(to bottom right, lightgrey, white);
	padding: 15px;
	font-family: Verdana;
}

.column1 {
	width: 48%;
	float: left;
}

.column2 {
	width: 48%;
	float: right;
}

img {
	width: 100%;
}

.item {
	padding: 10px;
	margin-bottom: 10px;
	border: 3px dashed teal;
}

button {
	background-color: LightSeaGreen;
	color: white;
	margin: 4px 2px;
    cursor: pointer;
	padding: 15px 32px;
    text-align: center;
    border-radius: 6px;
    display: block;
}
